[Unit]
Description=Backup with restic

[Service]
Type=simple
Nice=10
# $HOME or $XDG_CACHE_HOME must be set for restic to find /root/.cache/restic/
Environment="HOME=/root"
# Do not run if the check service is currently running
ExecStartPre=/bin/bash -c '/usr/bin/systemctl is-active --quiet restic-check@%I.service && exit 1 || exit 0'
# pipefail: so that redirecting stderr from the script to systemd-cat does not hide the failed command from OnFailure above.
# Random sleep (in seconds): in the case of multiple backup profiles. Many restic instances started at the same time could case high load or network bandwith usage.
# `systemd-cat` allows showing the restic output to the systemd journal
ExecStart=/bin/bash -c 'set -o pipefail; ps cax | grep -q restic && sleep $(shuf -i 0-300 -n 1); /usr/local/bin/restic-backup.sh /etc/restic.d/%I.conf 2>&1 | systemd-cat'
Restart=on-failure
RestartSec=5m
